Simplex/Service References/svc_simplex/Simplex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tp-simplex-azure.azurewebsites.net/Simplex.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://tp-simplex-azure.azurewebsites.net/Simplex.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TP_Simplex_Azure" />
  <xs:element name="Calcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSimplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FO" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VetProdutos" nillable="true" type="q1:ArrayOffloat" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VetInequacao" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSimplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TP_Simplex_Azure" minOccurs="0" name="CalcularSimplexResult" nillable="true" type="q3:ParametroFase1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoTabela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoTabelaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarValorTabela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:float" />
        <xs:element minOccurs="0" name="L" type="xs:int" />
        <xs:element minOccurs="0" name="C" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarValorTabelaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTabela">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTabelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornarTabelaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoValorVariaveis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoValorVariaveisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarValorVariaveis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="L" type="xs:int" />
        <xs:element minOccurs="0" name="C" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarValorVariaveisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarValorVariaveis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarValorVariaveisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornarValorVariaveisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoMatRestricoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarTamanhoMatRestricoesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarMatRestricoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:float" />
        <xs:element minOccurs="0" name="L" type="xs:int" />
        <xs:element minOccurs="0" name="C" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetarMatRestricoesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarMatRestricoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarMatRestricoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornarMatRestricoesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarValorMatRestricoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="L" type="xs:int" />
        <xs:element minOccurs="0" name="C" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarValorMatRestricoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornarValorMatRestricoesResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTamMatRestricoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTamMatRestricoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetornarTamMatRestricoesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>