Simplex/Service References/svc_simplex/Simplex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TP_Simplex_Azure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TP_Simplex_Azure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametroFase1">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultvalores" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroFase1" nillable="true" type="tns:ParametroFase1" />
</xs:schema>